*{
    font-family: "Poppins", sans-serif;
}


.banner{
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
}
.skill-padding{
    padding: 90px 0;
}